{% extends "base.html" %}
{% load static %}
{% block class %} class="sub_page" {% endblock class %}


{% block main %}

<!-- feedback section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Give Your Feedback here
        </h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form_container">
            <form action="{% url 'feedback' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <div>
                <input type="text" class="form-control" name="user_name" placeholder="Your Name" />
              </div>
              <div>
                <label for="desc" classs="form-label">Enter Description here*</label>
                 <textarea class="form-control" name="Description" id="desc" rows="3"></textarea>
              </div>
              <div>
                <select class="form-control nice-select wide" name="Rating" required>
                  <option value="" disabled selected>give rating here?</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div>
                <label for="formfilelg" class="form-label">Select Image</label>
                <input class="form-control form-control-lg" name="Image" id="formfilelg" type="file">
              </div>
              <div class="btn_box">
              <center>
                <button>
                  submit
                </button>
              </center>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end Feedback section -->

{% endblock main %}

