{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modern Login Page</title>
  <link href="{% static 'css/loginpage.css' %} " rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <a href="/" class="close_btn">X</a>
    <div class="login-box">
      <h2>Create Your Account</h2>
      <form  action="" method="post">
      {% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="input-group">
          <input type="text" name="username" required>
          <label>username</label>
        </div>
        <div class="input-group">
          <input type="email" name="email" required>
          <label>Email</label>
        </div>
         <div class="input-group">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn">signup</button>
      </form>
      <p class="signup-link">You have already account? <a href="{% url 'login' %}">Login</a></p>
    </div>
  </div>
</body>
</html>
